.pending {
    background-color: yellow !important;
    color: black !important;
}

.approved {
    background-color: green !important;
    color: white !important;
}

.rejected {
    background-color: red !important;
    color: white !important;
}

.form-control {
    width: auto;
    /* Adjust as necessary */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}